<!--The content below is only a placeholder and can be replaced.-->
<div class="bg"></div>
<div class="container text-center ">
    <br/>
    <div class="row">
        <div class="col-sm-1 offset-sm-2">
            <canvas #canvasVertical style="background: url('../assets/yaxis.png') ; background-repeat: no-repeat; background-position: left;"></canvas>
        </div>
        <div class="col-sm-7 ">
            <div class="container">
                <div style="width: 600px; height: 615px; background-image: url(../assets/board.png);  background-repeat: no-repeat;">
                    <div class="row" *ngFor="let y of boardData" style="width: 600px;  height: 60px;">
                        <div *ngFor="let x of y.value " style="width: 60px;  height: 60px;">
                            <img [src]="x.imgSource" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2" style="opacity: 0.9">
            <div class="card border-success mb-3 " style="max-width: 18rem;">
                <div class="card-header ">Score</div>
                <div class="card-body text-success">
                    <h1 class="card-title">{{totalScore}}</h1>
                    <ul class="list-inline">
                        <li *ngFor="let score of scores" class="list-item">
                            You scored - {{score}}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card border-success mb-3 " style="max-width: 18rem;">
                <div class="card-header ">Lives</div>
                <div class="card-body text-success">
                    <ul class="list-inline">
                        <li *ngFor="let chance of totalChances" class="list-inline-item">
                            <img src="../assets/dart normal.png" width="30px" height="50px" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1 offset-sm-3">
            <canvas #canvasHorizontal style="background: url('../assets/xaxis.png');  background-repeat: no-repeat; background-position: bottom; "></canvas>
        </div>
    </div>
    <h4 class="text-white" style="opacity: 0.8">
        Press spacebar to launch a Dart
    </h4>

    <div [hidden]="!gameOver" class="shadow-lg p-3 mb-12 bg-white rounded screencenter">
        <div class="alert alert-success" role="alert">
            Game Over - Score : {{totalScore}}
        </div>
        <button class="btn btn-success btn-sm btn-block" (click)='restart()'> <i class="fas fa-undo"></i> Play again</button>
    </div>
</div>


<router-outlet></router-outlet>